h1 {
  color: blue;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* max-width: calc(410px * 2 + 2%); */
  width:810px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  
}

img {
  width: 100%;
  display: block;
}

.card {
  /* width: 50%;
  max-width: 410px; */
  width: 400px;
}

.card:nth-child(2n) {
  /* margin: 2%; ;
  border-top: 2px solid red; */
  margin-left: 10px;
}

/* mobile rules */
@media only screen and (max-width: 410px) {
  body{
    background-color: lightblue;
  }
  .container {
  width: 100%;
  }
  .card:nth-child(2n){
  margin-left: 0;
  }
}


/* table rules */
@media only screen and (min-width: 411px) and (max-width: 820px) {
  body{
    background-color: rgb(255, 166, 32);
  }
  .container {
    width: 100%;
  }
  .card {
  width: 49%;
  }
  .card:nth-child(2n) {
    margin-left: 2%;
  }
}
  


