body{
    background-color: rgb(252, 207, 140);
    padding: 0;
    margin: 0;
}

ul li{
    list-style-type: square;
    display: block;
    border: 1px solid gray;
    margin-bottom: 20px;
    padding-bottom: 20px;  
    width: 200px; 
    margin-left: 20px;
}

ul{
    padding: 0%;
    margin: 0%;
}

.em{
    width: 10em;
}

html{
    font-size: 25px;
}

ul{
    font-size: 16px;
}

.rem{
    font-size: 1.5rem;
    width: 10rem;
}
 .perc{
    width: 50%;
    margin-left: 0;
    box-sizing: border-box;
 }

 ul{
    width: 1000px;
    background-color: aqua;
 }

 .vhvw{
    width: 50vw;
    height: 25vh;
    box-sizing: border-box;
 }