body{ color: black;}

.GermanFlag div{
    height: 65px;
    width: 300px;
    border: 1px solid rgb(0, 0, 0);
    }

    .black{
        background-color: black;
    }
    .red{
        background-color: red;
    }
    .yellow{
        background-color: rgb(255, 208, 0);
    }

.RussianFlag div{
    height: 65px;
    width: 300px;
    border: 1px solid grey;
    }
    .white{
        background-color: rgb(0, 0, 0);
    }
    .blue{
        background-color: blue;
    }
    .red{
        background-color: red;
    }
    


.Italyflag {
    display: flex;
    width: 300px;
    height: 200px;
    border: 2px solid black;
  }
  
  .green {
    background-color: green;
    flex: 1;
  }
  
  .white {
    background-color: white;
    flex: 1;
  }
  
  .red {
    background-color: red;
    flex: 1;
  }
  
.FranceFlag {
    display: flex;
    width: 300px;
    height: 200px;
    border: 2px solid black;
  }
  
  .blue {
    background-color: blue;
    flex: 1;
  }
  
  .white {
    background-color: white;
    flex: 1;
  }
  
  .red {
    background-color: red;
    flex: 1;
  }
    