body {
    background-color:orangered;
  }
  
  div { 
    border: 1px solid red;
    border-width: 3px;
    border-style: dotted;
    border-color: white;
    border-top-color: darkblue;
        
  }