/* setting all */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  color: white;
  font-family: 'Noto Sans Japanese', sans-serif;
}

.image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* 16:9 screen vertical & horizontal lines */
.lines {
  width: 100vw;
  aspect-ratio: 16 / 9;
  position: relative;
  background-color: black;
}


/* setting horizontal lines */
.h-line {
  position: absolute;
  right:0%;
  width: 25%;
  height: 1px;
  background-color: white;
  opacity: 0;
}

/* position & opacity lines */
.line-h-1 { top: 0%;  } 
.line-h-2 { top: 25%; opacity: 1; }
.line-h-3 { top: 50%; opacity: 1; }
.line-h-4 { top: 75%; opacity: 1;}

/* setting vertical lines */
.v-line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: white;
  opacity: 0; 
}

/* position & opacity lines */
.line-v-1 { left: 25%; }
.line-v-2 { left: 50%; }
.line-v-3 { left: 75%; opacity: 1; }  



/* 16:9 canva */
.canva {
  width: 100vw;
  aspect-ratio: 16 / 9;
  position: relative;
  background-color: #000;
  overflow: hidden;
}

/* center imae */
.image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* crossline */
.horizontal-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: translate(-50%);
}
.vertical-line {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: white;
  transform: translateX(-50%);
}

/* headline */
.headline {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  text-align: left;
  font-size: 800%;
  font-weight: 500;
  letter-spacing: -2px;
}

/* copy bottom right 1 */
.bottom-right1 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.5;
  text-align: right; 
}

/* copy time */
.bottom-right2 {
  position: absolute;
  bottom: 230px;
  right: 20px;
  font-size: 120px;
  font-weight: 100;
  text-align: right; 
  font-weight: 30px;
}

/* copy name */
.name {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 15px;
  font-weight: 100;
  text-align: right; 
  font-weight: 30px;
  line-height: 1.5;
}


/* copy bottom left */
.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 0px;
}
