body {
    color: black;
}

div{
    margin-right: 10px;
    margin-bottom: 10px;
    /* width: 50% ; */
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.wrapper div {
   width: 30%;
   height: 100px;
   border: 3px solid lightblue;
   margin-right: 5%; 
   box-sizing: border-box;
}

.wrapper div:nth-child(5) {
    background-color: olive;
}

.wrapper div:nth-child(3n) {
   margin-right: 0px;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange;
}

.yellow{
background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.blueviolet{
    background-color: blueviolet;
}

.purple{
    background-color: white;
    border: 1px solid red;
}

.red{
    background-color: red;
}
