body { background-color: antiquewhite;}

body * {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 5px;
}

.wrapper {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  column-gap: 20px;
}

.wrapper aside {
  border: 1px solid green;
}

.wrapper main {
  border: 1px solid blue;
}

.float-dem {
   border: 1px solid blueviolet;

}

.float-dem.child {
  float: right;
  width: 30px;
  height: 30px;

}